HelloWebClient/Service References/HelloService/HelloService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://PragimTech.com/ServiceVersion1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://PragimTech.com/ServiceVersion1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://PragimTech.com/ServiceVersion1/Imports">
      <xsd:import schemaLocation="http://pyraleads.diva-cloud.co.uk/HelloService.svc?xsd=xsd0" namespace="http://PragimTech.com/ServiceVersion1" />
      <xsd:import schemaLocation="http://pyraleads.diva-cloud.co.uk/HelloService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IHelloService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_ProcessData_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessData" />
  </wsdl:message>
  <wsdl:message name="IHelloService_ProcessData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_ProcessDataAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDataAdd" />
  </wsdl:message>
  <wsdl:message name="IHelloService_ProcessDataAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessDataAddResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_UrlIsValid_InputMessage">
    <wsdl:part name="parameters" element="tns:UrlIsValid" />
  </wsdl:message>
  <wsdl:message name="IHelloService_UrlIsValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:UrlIsValidResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloService">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://PragimTech.com/ServiceVersion1/IHelloService/GetMessage" message="tns:IHelloService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://PragimTech.com/ServiceVersion1/IHelloService/GetMessageResponse" message="tns:IHelloService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <wsdl:input wsaw:Action="http://PragimTech.com/ServiceVersion1/IHelloService/ProcessData" message="tns:IHelloService_ProcessData_InputMessage" />
      <wsdl:output wsaw:Action="http://PragimTech.com/ServiceVersion1/IHelloService/ProcessDataResponse" message="tns:IHelloService_ProcessData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDataAdd">
      <wsdl:input wsaw:Action="http://PragimTech.com/ServiceVersion1/IHelloService/ProcessDataAdd" message="tns:IHelloService_ProcessDataAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://PragimTech.com/ServiceVersion1/IHelloService/ProcessDataAddResponse" message="tns:IHelloService_ProcessDataAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UrlIsValid">
      <wsdl:input wsaw:Action="http://PragimTech.com/ServiceVersion1/IHelloService/UrlIsValid" message="tns:IHelloService_UrlIsValid_InputMessage" />
      <wsdl:output wsaw:Action="http://PragimTech.com/ServiceVersion1/IHelloService/UrlIsValidResponse" message="tns:IHelloService_UrlIsValid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>